/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.centered {
	text-align: center;
}

.normalBorder {
	border: 1px solid white;
}

.selectedBorder {
	border: 1px solid red;
}

.pgnDisplay {
	vertical-align: top;
	min-width: 300px;
	
}

.waiting {
	cursor: wait;
}

.normal {
	cursor: auto;
}

.sqLabel {
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

.margin10 {
	margin-right: 10px;
	margin-left: 10px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
